---
import Layout from "../layouts/Layout.astro";
import { tabNames, type TabKey } from "../components/Tabs.astro";

const tabKey: TabKey = `changelog`;
const tabName = tabNames[tabKey];
const layoutInfo = {
  tabKey,
  tabName,
};
---

<Layout {...layoutInfo}>
  <article>
    <h2>v1.0.0</h2>
    <p>とりあえずリリース。</p>
    <p>カテゴリごとに分けたり、カラーピッカー実装したりは次のバージョン。</p>
  </article>
</Layout>
