---
import Layout from "../layouts/Layout.astro";
import { tabInfos, type TabKeys } from "../components/Tabs.astro";

const tabKey: TabKeys = `changelog`;
const tabName = tabInfos[tabKey].ja;
const layoutInfo = {
  tabKey,
  tabName,
};
---

<Layout {...layoutInfo}>
  <article>
    <h2>v1.0.0</h2>
    <p>とりあえずリリース。</p>
    <p>カテゴリごとに分けたり、カラーピッカー実装したりは次のバージョン。</p>
  </article>
</Layout>
