---
import Layout from "../layouts/Layout.astro";
import { tabNames, type TabKey } from "../components/Tabs.astro";

const tabKey: TabKey = `usage`;
const tabName = tabNames[tabKey];
const layoutInfo = {
  tabKey,
  tabName,
};
---

<Layout {...layoutInfo}>
  <article>
    <h2>基本操作</h2>
    <p>
      作りたいキャラ or
      再現したいキャラの特徴にあったプロンプトのボタンをポチポチしてください。
    </p>
    <p>各ボタンは押す度に有効無効がトグルされます。</p>
    <p>
      グループピングされたプロンプトは、親プロンプトを有効化すると、子プロンプトが表示されます。
      親プロンプトを無効化すると子プロンプトはまとめて自動で無効化されます。
    </p>
    <h2>カテゴリの一括無効化</h2>
    <p>
      カテゴリ右横のClearボタンを押すと、カテゴリ内のすべてのプロンプトが無効化されます。
    </p>
    <h2>出力プロンプト</h2>
    <p>最下部に出力されます。</p>
    <p>
      右側の📋のアイコンボタンを押すとクリップボードにプロンプトがコピーされます。
    </p>
    <p>
      あとはStable Diffusion web UIのプロンプト欄にペーストして生成するだけ❗
    </p>
  </article>
</Layout>

<style>
  h2 {
    margin: 2rem 0 1.5rem;
  }

  p {
    margin: 0.5rem 0;
  }
</style>
