---
import { prompts as promptCandidates } from "../store";
import PromptButton from "./PromptButton.astro";
interface Props {
  name: string;
  prompts: (typeof promptCandidates)[number][];
}

const { name, prompts } = Astro.props;
---

<section class="wrapper">
  <header>
    <h2>{name}</h2>
    <button type="button">Clear</button>
  </header>
  <div class="prompts">
    {prompts.map((prompt) => <PromptButton key={prompt} />)}
  </div>
</section>

<style>
  .wrapper {
    padding: 1rem;
    background-color: rgb(var(--background-sub));
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.8rem;
  }

  .prompts {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
  }

  header {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  button {
    padding: 0.4rem;
    border-radius: 9999px;
  }
</style>
