---
import { type Category, promptRecordsStore } from "../libs/prompts-store";
import PromptButton from "./PromptButton.astro";
interface Props {
  name: string;
  key: Category;
}

const { name, key } = Astro.props;

const categoryFiltered = promptRecordsStore
  .get()
  .filter(({ category }) => category === key);
const prompts = categoryFiltered.map(({ prompt }) => prompt);
---

<category-area data-key={key}>
  <header>
    <h2>{name}</h2>
    <button class="clear-button" type="button">Clear</button>
  </header>
  <div class="prompts">
    {prompts.map((prompt) => <PromptButton key={prompt} />)}
  </div>
  <div class="mupltiple-enables-warning">
    <p>
      2個以上のpromptが有効になっています。意図したものであればこの警告は無視してください。
    </p>
  </div>
</category-area>

<script>
  import { promptRecordsStore, type Category } from "../libs/prompts-store";

  class CategoryArea extends HTMLElement {
    constructor() {
      super();

      const key = this.dataset.key as Category;
      if (!key) return;

      const clearButton = this.querySelector(
        `:scope > header > .clear-button`,
      )!;

      clearButton.addEventListener(`click`, () => {
        const all = promptRecordsStore.get();
        const categoryMatches = all.filter(({ category }) => category === key);
        for (const record of categoryMatches) {
          record.isEnable = false;
        }

        promptRecordsStore.set([...all]);
      });

      const multipleEnablesWarning = this.querySelector(
        `:scope > .mupltiple-enables-warning`,
      )!;

      promptRecordsStore.subscribe((all) => {
        const categoryMatches = all.filter(({ category }) => category === key);
        const enables = categoryMatches.filter(({ isEnable }) => isEnable);
        if (2 <= enables.length) {
          multipleEnablesWarning.classList.remove(`hide`);
        } else {
          multipleEnablesWarning.classList.add(`hide`);
        }
      });
    }
  }

  customElements.define(`category-area`, CategoryArea);
</script>

<style>
  category-area {
    padding: 1rem;
    background-color: rgb(var(--background-sub));
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.8rem;
  }

  .prompts {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
  }

  header {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  button {
    padding: 0.4rem;
    border-radius: 9999px;
  }

  .mupltiple-enables-warning {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    align-items: center;
    border-radius: 1rem;
    background-color: hsl(40deg 100% 50% / 40%);
    padding: 0.5rem;
  }

  .mupltiple-enables-warning::before {
    content: "!";
    display: inline-flex;
    border: 1px solid rgb(var(--text-main));
    border-radius: 9999px;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    flex: 0 0 2rem;
    font-size: 1.2rem;
  }

  .mupltiple-enables-warning > p {
    flex: 1 1 0;
  }

  .hide {
    display: none;
  }
</style>
