---
// https://www.w3schools.com/howto/howto_css_switch.asp
import { type SliderButtonKeys } from "../libs/slider-button-store";

interface Props {
  key: SliderButtonKeys;
}

const { key } = Astro.props;
---

<label is="slider-button" class="switch" data-key={key}>
  <input type="checkbox" />
  <span class="slider round"></span>
</label>

<script>
  import {
    sliderButtonStoreMap,
    type SliderButtonKeys,
  } from "../libs/slider-button-store";

  class SliderButton extends HTMLLabelElement {
    constructor() {
      super();

      const key = this.dataset.key as SliderButtonKeys;

      this.addEventListener(`click`, () => {
        const input = this.querySelector(`:scope > input`)! as HTMLInputElement;

        input.addEventListener(`change`, () => {
          const store = sliderButtonStoreMap.get(key)!;
          store.set(input.checked);
        });
      });
    }
  }

  customElements.define(`slider-button`, SliderButton, { extends: `label` });
</script>

<style>
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    display: none;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: rgb(var(--accent));
  }

  input:focus + .slider {
    box-shadow: 0 0 1px rgb(var(--accent));
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 9999px;
  }

  .slider.round:before {
    border-radius: 9999px;
  }
</style>
