---
import Tabs from "../components/Tabs.astro";
import { type TabKeys } from "../components/Tabs.astro";

interface Props {
  title: string;
  tabKey: TabKeys;
}

const { title, tabKey } = Astro.props;
---

<!doctype html>
<html lang="ja-JP">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
    <script
      async
      src={`https://www.googletagmanager.com/gtag/js?id=${
        import.meta.env.GOOGLE_ANALYTICS_ID
      }`}></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", import.meta.env.GOOGLE_ANALYTICS_ID);
    </script>
    <!-- End Google Analytics -->

    <title>{title}</title>

    <meta name="author" content="tenpaMk2" />
    <meta
      name="description"
      content="Stable Diffusion用にキャラのプロンプトを簡単に生成します"
    />
    <meta
      property="og:url"
      content="https://tenpamk2-blog.netlify.app/apps/stable-diffusion-character-prompts-builder/"
    />
    <meta
      property="og:title"
      content="Stable Diffusion Character Prompts Builder"
    />
    <meta
      property="og:description"
      content="Stable Diffusion用にキャラのプロンプトを簡単に生成します"
    />
    <meta
      property="og:image"
      content="https://tenpamk2-blog.netlify.app/apps/stable-diffusion-character-prompts-builder/ogp.webp"
    />
    <meta
      property="og:image:alt"
      content="Stable Diffusion Character Prompts Builder イメージ画像"
    />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ja-JP" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@tenpaMk2" />
    <meta name="twitter:creator" content="@tenpaMk2" />
    <meta
      name="thumbnail"
      content="https://tenpamk2-blog.netlify.app/apps/stable-diffusion-character-prompts-builder/ogp.webp"
    />
    <link
      rel="canonical"
      href="https://tenpamk2-blog.netlify.app/apps/stable-diffusion-character-prompts-builder/"
    />
  </head>
  <body>
    <header>
      <h1>sd-character-prompts-builder</h1>
      <Tabs selectedKey={tabKey} />
    </header>
    <main>
      <div>
        <slot />
      </div>
    </main>
    <footer>
      <p>© 2023, Built with <a href="https://astro.build/">Astro</a>.</p>
      <p>Created by <a href="https://twitter.com/tenpaMk2">tenpaMk2</a>.</p>
    </footer>
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --slate-700: 51 65 85;
    --slate-800: 30 41 59;
    --slate-900: 15 23 42;
    --gray-200: 229 231 235;
    --gray-300: 209 213 219;
    --background-main: var(--slate-800);
    --background-sub: var(--slate-700);
    --text-main: var(--gray-200);
    --text-sub: var(--gray-300);
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: rgb(var(--slate-900));
    color: rgb(var(--text-main));
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  a {
    text-decoration: none;
  }
  a:hover,
  a:visited,
  a:link,
  a:active {
    text-decoration: none;
  }
</style>

<style>
  body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
  }

  header {
    background-color: rgb(var(--background-main));
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem 0rem;
  }

  header > h1 {
    font-size: 4rem;
  }

  main {
    width: 100%;
    padding: 0rem 1rem;
  }
  main > div {
    max-width: 1280px;
    width: 100%;
    padding: 1rem;
    margin: auto;
    background-color: rgb(var(--background-main));
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }

  footer {
    font-size: 1rem;
    color: rgb(var(--text-sub));
    display: flex;
    flex-flow: column nowrap;
    gap: 0.4rem;
    margin-bottom: 1rem;
  }

  footer a {
    color: inherit;
    text-decoration: underline;
  }
</style>
